{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
   
    
	<div class="container">
    
    <div class="row">
    <div class="col-md-12">
      <div class="card bg-light mb-3 mt-3">
        <div class="card-body">
          <div class="card-header"><img src="/student/public/img/menu-cat.jpg" width="50px" height="50px" /><span style="color:blue; font-size:25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Main Menu - Today's Special</span></div>
          <AmpContent>
          <table class="table">
    
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">&nbsp;Show&nbsp;</a> |
                    <a href="{{ path('category_edit', {'id': category.id}) }}">&nbsp;Edit&nbsp;</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}"><< Create Food Category >></a>
	<br>
	<a href="/student/public/index.php"><< Home >></a>
	</NonAmpContent>
        </div>
      </div>
      <AmpContent>
   
      
</NonAmpContent>
    </div>
  </div>
</div>
{% endblock %}
